body{
    background-color:darkgray;
}


h1{
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.button{
    padding: 19px;
    background-color:lightgreen;
    border-radius: 6px;
    margin:3px;
    border: 2px solid black;
    cursor: pointer;
    font-weight:bolder;
    font-size: 13px;
}
button:hover{
    color:white;
    background-color:burlywood;
}
.row{
    margin:5px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.input{
    border: 2px solid black;
    width: 12%;
    padding: 11px;
 font-size: large;
 border-radius: 6px;
  
}